.userForm {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}
  
.userForm label {
    margin-bottom: 5px;
}
  
.userForm input {
    padding: 5px;
    margin-bottom: 10px;
}
  
.userForm button {
    margin-top: 10px;
}